/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/public/assets
/public/packs
/public/packs-test
.byebug_history
/coverage
/config/master.key
/ops/secrets/keys
/dic
